<form method="post" action="/animals/adopt %>">
  <input type="hidden" name="_method" value="put">

    <label>
      Select an animal:
      <select name="name">
        <%for animal in @animals %>
          <option value="<%=animal.id %>"><%=animal.name %></option>
        <% end %>
      </select>
    </label>


    <label>
      Select an owner:
      <select name="owner_id">
        <% for owner in @owners %>
          <option value="<%=owner.id %>"><%=owner.pretty_name %></option>
        <% end %>
      </select>
    </label>


    <input type="submit" value="Submit">

  </form>
