<form method="post" action="/animals/adopt" class="form-container">
  <input type="hidden" name="_method" value="put">

  <div class="form-title"><h2>Adopt</h2></div>
    <label>
      Select an animal:
      <select name="animal_id">
        <%for animal in @animals %>
          <option value="<%=animal.id %>"><%=animal.name %></option>
        <% end %>
      </select>
    </label>
<br/>
    <label>
      Select an owner:
      <select name="owner_id">
        <% for owner in @owners %>
          <option value="<%=owner.id %>"><%=owner.pretty_name %></option>
        <% end %>
      </select>
    </label>

<br />
    <input class="submit-button" type="submit" value="Submit">

  </form>
