<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
  </head>
  <body>
    <nav>
      Home
      Find animal
      Add pet

    </nav>
    <h1>Scottish Animal Shelter pet managment system</h1>
    YIELD
    <img class="banner" src="http://rockindawgs.com/wp-content/uploads/2016/04/puppies2.jpg">
 <!-- add four buttons in a 2x2 square to add pet, search, see all pets, update pet -->
  </body>
  <footer></footer>
</html>
