<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discworld Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Merienda" rel="stylesheet">
      <link rel="stylesheet" href="/pet_shelter.css">
  <body>
    <nav>
      <ul>
        <li><a href="/animals">All pets</a></li>
        <li><a href="/animals/new">Add new pet</a></li>
        <li><a href="/animals/adopt">Adopt</a></li>
        <li><a href="/animals/adopted">Adopted</a></li>
      </ul>
    </nav>

    <img class="banner" src="http://www.savewildanimals.org/images/slides/slide1.png">
    <h1>Discworld Animal Shelter</h1>
    <%= yield %>

 <!-- add four buttons in a 2x2 square to add pet, search, see all pets, update pet -->
<!-- http://www.petlandhenderson.org/wp-content/uploads/2016/03/petland_contactus-1200x327.jpg -->
  </body>
  <footer></footer>
</html>
