
  <div class="animal-profile">
    <p>Name: <%= @animal.name() %></p>
    <p>Admitted: <%= @animal.admission %></p>
    <p><a class="action link" href="/animals/<%= @animal.id %>/edit">Update record</a></p>
  </div>
