<!-- list all pets and admission date -->
<!-- nice to have: make it a table -->

<% @animals.each do |animal| %>
  <div class="animal-admission-list">
    <p>Name: <%= animal.name() %></p>
    <p>Admitted: <%= animal.admission %></p>
    <p><a class="action link" href="/animals/<%= animal.id %>/edit">Edit</a></p>
    <p><a class="action link" href="/animals/<%= animal.id %>/profile">Show profile</a></p>
  </div>
<% end %>
