<!-- one animal -->
<div class="form-container">
  <p>Name: <%= @animal.name() %></p>
  <p>Admitted: <%= @animal.admission %></p>
  <p><a class="submit-button" href="/animals/<%= @animal.id %>/edit">Update record</a></p>
  <form method="post" action="/animals/<%= @animal.id %>">
    <input type="hidden" name="_method" value="delete">
    <button class="submit-button">Delete profile</button>
  </form>
</div>
