<!-- edit owner profile -->
<form method="post" action="/owners<%= @owner.id %>" class="form-container">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="name-field">First name:</label>
    <div class="field">
      <input
      type="text"
      name="name"
      id="name-field"
      value="<%= @owner.first_name %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="surname-field">last name:</label>
    <div class="field">
      <input
      type="text"
      name="last_name"
      id="surname-field"
      value="<%= @owner.last_name %>"
      />
    </div>
  </div>


  <div class="field-group">
    <label for="address-field">Address:</label>
    <div class="field">
      <input
      type="text"
      name="address"
      id="address-field"
      value="<%= @owner.address %>"
      />
    </div>
  </div>

  <input type="submit" value="Submit" class="submit-button">

</form>
