<!-- create new owner form -->

<form method="post" action="/owners" class="form-container">

  <div class="field-group">
    <label for="first_name-field">First name:</label>
    <div class="field">
      <input
      type="text"
      name="first_name"
      id="first_name-field"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="last_name-field">Last name:</label>
    <div class="field">
      <input
      type="text"
      name="last_name"
      id="last_name-field"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="address-field">Address:</label>
    <div class="field">
      <input
      type="text"
      name="address"
      id="address-field"
      />
    </div>
  </div>

  <button class="submit-button">Create owner record</button>
</form>
